---
import DashboardLayout from '../../../layouts/DashboardLayout.astro';
import DevdocsHomeScreen from '../../../components/screens/DevdocsHomeScreen.astro';
---

<DashboardLayout title="DevDocs Home v2">
  <div class="bg-gradient-to-b from-surface to-white">
    <DevdocsHomeScreen variant="v2" />
  </div>
</DashboardLayout>
